<div class="vac_srobot_titletext-box {{ section.settings.block_css_name }}">
  {% for block in section.blocks %}
  <div class="text-wrapper" >
    {% if block.settings.title != blank %}
    <h2 class="title30">{{ block.settings.title }}</h2>
    {% endif %}

    {% if block.settings.text != blank %}
    <p class="text">{{ block.settings.text }}</p>
    {% endif %}
  </div>
  {% endfor %}
</div>

{% schema %}
  {
    "name": "Vac srobot Bg Text",
    "class": "vac_srobot_titletext",
    "settings": [
    {
            "type": "html",
            "id": "block_css_name",
            "label": "Section Css Name"
          }
    ],
    "blocks": [
      {
        "type": "text",
        "name": "Text",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Title"
          },{
            "type": "html",
            "id": "text",
            "label": "Text"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Vac srobot Title Text",
        "category": "text"
 
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
