<div class="product-diver-container"></div>

  {% schema %}
    {
      "name": "Product diver",
      "class":"product-diver-seciton",
      "settings": [
       
      ],
      "presets": [
        {
          "name": "Product diver",
          "category": "Product"
        }
      ]
    }
  {% endschema %}
  