<div data-section-id="{{ section.id }}" data-section-type="covet-pics-feed">
  {%- assign sectionHeading = section.settings.title -%}
  {%- assign gallery_code = section.settings.gallery-code -%}
  <section class="home-section content-area {% if sectionHeading != blank %}has-heading{% endif %}">
    {% if sectionHeading != blank %}
      <h2 class="section-title" style="text-align:center">{{ sectionHeading }}</h2>
    {% endif %}
    <div class="covet-pics-wrap">
      {{ gallery_code }}
    </div>
  </section>
</div>
{% schema %}
{
  "name": "Covet.pics Gallery",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Instagram feed"
    },
    {
      "type": "textarea",
      "id": "gallery-code",
      "label": "Gallery Embed Code"
    }
  ],
  "presets": [
    {
      "category": "Image",
      "name": "Covet.pics gallery"
    }
  ]
}
{% endschema %}