<div class="page-width page-content">
  <header class="section-header section-header--404">
    <img src="https://cdn.shopify.com/s/files/1/0524/3643/5101/files/404.jpg" class="not_found">
    <p class="not_found_text">Ohh. This page has been vacuumed away</p>
    <a href="{{routes.root_url}}" class="btn">Back to Homepage</a>
  </header>
</div>
<style>
img.not_found {
    max-width: 540px;
    width: 100%;
}

p.not_found_text {
    font-weight: 700;
}

.section-header--404 .btn {
    display: inline-block;
    float: none;
    border-radius: 30px;
}
</style>