{%- case icon -%}
{%when "photo"%}
<?xml version="1.0" encoding="UTF-8"?>
<svg width="16px" height="16px" viewBox="0 0 16 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <title>photography</title>
    <g  stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g  transform="translate(-305.000000, -760.000000)" fill-rule="nonzero">
            <g  transform="translate(281.000000, 748.000000)">
                <g id="photography" transform="translate(24.000000, 12.000000)">
                    <rect id="Rectangle" fill="#000000" opacity="0" x="0" y="0" width="16" height="16"></rect>
                    <path d="M5.34758818,2.2426471 C5.47043971,2.08920557 5.65637867,2 5.85294112,2 L10.3823528,2 C10.5789153,2 10.7648542,2.08920557 10.8877058,2.2426471 L11.9877058,3.61764709 L13.6176469,3.61764709 C14.5099128,3.61764565 15.2336879,4.34011791 15.2352939,5.23238237 L15.2352939,11.3855882 C15.2344011,12.2775911 14.5109444,13.000179 13.618941,13 L2.61570585,13 C1.72375505,13 1.00053581,12.2772153 1,11.3852647 L1,5.23205883 C1.00178429,4.33992077 1.72550718,3.61764532 2.61764703,3.61764709 L4.24791172,3.61764709 L5.34791171,2.2426471 L5.34758818,2.2426471 Z M6.16385288,3.29411769 L5.0638529,4.66911766 C4.94107226,4.82247063 4.7552725,4.91174021 4.55882348,4.91176472 L2.61764703,4.91176472 C2.44009764,4.91175753 2.29571556,5.05484017 2.29411763,5.23238237 L2.29411763,11.3855882 C2.29411763,11.5619117 2.43841175,11.7062058 2.61570585,11.7062058 L13.618941,11.7062058 C13.7968822,11.7062058 13.9411763,11.5619117 13.9411763,11.3855882 L13.9411763,5.23205883 C13.9394021,5.05464322 13.7950714,4.91175585 13.6176469,4.91176472 L11.6764705,4.91176472 C11.479908,4.91183847 11.2939691,4.8225592 11.1711175,4.66911766 L10.0711175,3.29411769 L6.1641764,3.29411769 L6.16385288,3.29411769 Z M8.11764697,10.7352941 C6.50952375,10.7352941 5.2058823,9.43165262 5.2058823,7.82352939 C5.2058823,6.21540617 6.50952375,4.91176472 8.11764697,4.91176472 C9.7257702,4.91176472 11.0294116,6.21540617 11.0294116,7.82352939 C11.0294116,9.43165262 9.7257702,10.7352941 8.11764697,10.7352941 Z M8.11764697,9.44117644 C8.6956139,9.4412324 9.22970131,9.13292286 9.51870093,8.63239814 C9.80770055,8.13187342 9.80770055,7.51518538 9.51870093,7.01466066 C9.22970131,6.51413595 8.6956139,6.2058264 8.11764697,6.20588236 C7.22430635,6.20596886 6.50015656,6.93018877 6.50015656,7.8235294 C6.50015656,8.71687003 7.22430635,9.44108994 8.11764697,9.44117644 L8.11764697,9.44117644 Z" id="Shape" fill="#1B1B1B"></path>
                </g>
            </g>
        </g>
    </g>
</svg>
{%when "video"%}
<?xml version="1.0" encoding="UTF-8"?>
<svg width="16px" height="16px" viewBox="0 0 16 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <title>video</title>
    <g  stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" >
        <g  transform="translate(-396.000000, -760.000000)" fill-rule="nonzero">
            <g  transform="translate(281.000000, 748.000000)">
                <g id="Group-15" transform="translate(24.000000, 12.000000)">
                    <g id="video" transform="translate(91.000000, 0.000000)">
                        <rect id="Rectangle" fill="#000000" opacity="0" x="0" y="0" width="16" height="16"></rect>
                        <path d="M11.9933333,5.148 L13.7553333,4.70733333 C13.8433333,4.68933333 13.8433333,4.68933333 13.9333333,4.68533333 C14.1278254,4.68533332 14.3143516,4.76259501 14.4518783,4.90012169 C14.589405,5.03764837 14.6666667,5.22417458 14.6666667,5.41866667 L14.6666667,10.5813333 C14.6626667,10.6713333 14.6626667,10.6713333 14.6446667,10.7593333 C14.5463277,11.1521679 14.148186,11.3909336 13.7553333,11.2926667 L11.9933333,10.8526667 C11.8956477,12.2497667 10.7338443,13.3333333 9.33333333,13.3333333 L4,13.3333333 C2.52724067,13.3333333 1.33333333,12.139426 1.33333333,10.6666667 L1.33333333,5.33333333 C1.33333333,3.860574 2.52724067,2.66666667 4,2.66666667 L9.33333333,2.66666667 C10.7340838,2.66678147 11.8959812,3.75063666 11.9933333,5.148 Z M12,9.47933333 L13.3333333,9.81266667 L13.3333333,6.18733333 L12,6.52066667 L12,9.47933333 Z M10.6666667,5.33333333 C10.6666667,4.97971134 10.5261909,4.64057279 10.2761424,4.39052428 C10.0260939,4.14047578 9.68695533,4 9.33333334,4 L4,4 C3.26362034,4 2.66666667,4.59695366 2.66666667,5.33333333 L2.66666667,10.6666667 C2.66666667,11.4030463 3.26362034,12 4,12 L9.33333334,12 C9.68695533,12 10.0260939,11.8595242 10.2761424,11.6094757 C10.5261909,11.3594272 10.6666667,11.0202887 10.6666667,10.6666667 L10.6666667,10.0146667 L10.6666667,6.014 L10.6666667,5.33333333 Z M4,9.33333333 L6.66666667,9.33333333 C6.66666667,9.33333333 6.66666667,10.6666667 6.66666667,10.6666667 L4,10.6666667 C4,10.6666667 4,9.33333333 4,9.33333333 Z" id="Shape" fill="#1B1B1B"></path>
                    </g>
                </g>
            </g>
        </g>
    </g>
</svg>
{%when "arrow"%}
<?xml version="1.0" encoding="UTF-8"?>
<svg width="32px" height="32px" viewBox="0 0 32 32" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
 
    <g  stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g  transform="translate(-60.000000, -120.000000)" fill-rule="nonzero">
            <g id="1" transform="translate(60.000000, 120.000000)">
                <g  transform="translate(16.000000, 16.000000) rotate(-90.000000) translate(-16.000000, -16.000000) ">
                    <rect id="Rectangle" fill="#000000" opacity="0" x="0" y="0" width="32" height="32"></rect>
                    <path d="M22.04,12.7078125 C21.6496875,13.0978125 21.0171875,13.0978125 20.6265625,12.7078125 L17,9.0809375 L17,25.334375 C16.999375,25.8865625 16.55125,26.33375 15.99875,26.3331257 C15.4475,26.3325 15.000625,25.885625 15,25.334375 L15,9.08375 L11.3746875,12.7078125 C10.9840625,13.0984375 10.350625,13.0984375 9.96,12.7078125 C9.569375,12.3171875 9.569375,11.68375 9.96,11.293125 L15.2934375,5.9596875 C15.683125,5.569375 16.315625,5.5690625 16.705625,5.95875 L16.7065625,5.9596875 L22.04,11.293125 C22.430625,11.6834375 22.4309375,12.3165625 22.0403125,12.7071875 C22.0403125,12.7075 22.0403125,12.7075 22.04,12.7078125 L22.04,12.7078125 Z" id="Path" fill="#1B1B1B"></path>
                </g>
            </g>
        </g>
    </g>
</svg>
{%endcase%}