<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="16px" viewBox="0 0 16 16" version="1.1">
    <title>bag-购物袋</title>
    <g id="Victor-页面" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="首页+Announcement-Bar" transform="translate(-1324.000000, -70.000000)" fill-rule="nonzero">
            <g id="导航栏-沉浸式" transform="translate(0.000000, 48.000000)">
                <g id="bag-购物袋" transform="translate(1324.000000, 22.000000)">
                    <rect id="Rectangle" fill="#000000" opacity="0" x="0" y="0" width="16" height="16"/>
                    <path d="M13.3998723,16 L2.59987231,16 C2.36464335,16 2.14132786,15.8965079 1.9893117,15.7169981 C1.83729553,15.5374883 1.77198658,15.3001727 1.81075231,15.06816 L2.41075231,5.46816 C2.47518424,5.08253532 2.80890189,4.8 3.19987231,4.8 L12.7998723,4.8 C13.1908427,4.8 13.5245604,5.08253532 13.5889923,5.46816 L14.1889923,15.06816 C14.227758,15.3001727 14.1624491,15.5374883 14.0104329,15.7169981 C13.8584168,15.8965079 13.6351013,16 13.3998723,16 Z M3.54451231,14.4 L12.4565123,14.4 L12.1221123,6.4 L3.87763231,6.4 L3.54451231,14.4 Z M11.1998723,4 L9.59987231,4 L9.59987231,3.2 C9.59987229,2.31634441 8.8835279,1.60000003 7.99987231,1.60000003 C7.11621673,1.60000003 6.39987233,2.31634441 6.39987231,3.2 L6.39987231,4 L4.96533371,4 L4.79987231,4 C4.79987231,3.92686744 4.79987231,3.87201801 4.79987231,3.83545173 C4.79987231,3.69424024 4.79987231,3.48242299 4.79987231,3.2 C4.79987231,1.4326888 6.23256111,0 7.99987231,0 C9.76718351,0 11.1998723,1.4326888 11.1998723,3.2 L11.1998723,4 Z" id="Shape" fill="#1B1B1B"/>
                </g>
            </g>
        </g>
    </g>
</svg>