<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="16px"  viewBox="0 0 16 16" version="1.1">
    <title>搜索</title>
    <g id="Victor-页面" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="首页+Announcement-Bar" transform="translate(-1364.000000, -70.000000)" fill-rule="nonzero">
            <g id="导航栏-沉浸式" transform="translate(0.000000, 48.000000)">
                <g id="搜索" transform="translate(1364.000000, 22.000000)">
                    <rect id="Rectangle" fill="#000000" opacity="0" x="0" y="0" width="16" height="16"/>
                    <path d="M12.3827161,11 L15.1481481,13.7654321 L13.7654321,15.1481481 L11,12.382716 L12.3827161,11 Z M2.64622222,11.1315556 C0.303111109,8.78844445 0.303111109,4.98933334 2.64622222,2.64622222 C4.98933333,0.303111109 8.788,0.303111109 11.1315556,2.64622222 C13.4746667,4.98933333 13.4746667,8.78844444 11.1315556,11.1315556 C8.788,13.4746667 4.98933334,13.4746667 2.64622222,11.1315556 Z M9.86444444,3.90222222 C8.21822222,2.25555555 5.54888888,2.25555555 3.90222222,3.90222222 C3.11146415,4.6928895 2.66721325,5.76531896 2.66721325,6.88355555 C2.66721325,8.00179215 3.11146415,9.07422161 3.90222222,9.86488889 C5.54876715,11.5113111 8.21824446,11.5112116 9.86466666,9.86466666 C11.5110889,8.21812173 11.5109894,5.54864442 9.86444444,3.90222222 Z M2.64622222,11.1315556 C0.303111109,8.78844445 0.303111109,4.98933334 2.64622222,2.64622222 C4.98933333,0.303111109 8.788,0.303111109 11.1315556,2.64622222 C13.4746667,4.98933333 13.4746667,8.78844444 11.1315556,11.1315556 C8.788,13.4746667 4.98933334,13.4746667 2.64622222,11.1315556 Z M9.86444444,3.90222222 C8.21822222,2.25555555 5.54888888,2.25555555 3.90222222,3.90222222 C3.11146415,4.6928895 2.66721325,5.76531896 2.66721325,6.88355555 C2.66721325,8.00179215 3.11146415,9.07422161 3.90222222,9.86488889 C5.54876715,11.5113111 8.21824446,11.5112116 9.86466666,9.86466666 C11.5110889,8.21812173 11.5109894,5.54864442 9.86444444,3.90222222 Z" id="Shape" fill="#1B1B1B"/>
                </g>
            </g>
        </g>
    </g>
</svg>