{% comment %}
  The contents of the lists-collections.liquid template can be found in /sections/lists-collections-template.liquid
{% endcomment %}

<div class="container page-collections-list">
	{% render 'breadcrumb' %}
    <div class="page page-collections page-collection">
        {% section 'list-collections-template' %}
    </div>
</div>

{% section 'section-product-lookbook' %}