<div class="page page-about">
	<div class="container">
	    {% render 'breadcrumb' %}
	</div>
    <div class="wrapper-slideshow">
        {% section 'about-us-slideshow'%}
    </div>
    {% section 'about-us-content'%}
</div>

