<div class="btn product-compare-btn {% if settings.show_product_compare_mb %}compare-btn-mb{% endif %}" data-icon-compare data-compare-product-handle="{{ link }}" data-id="{{ id }}">
    <svg class="icon"><use xlink:href="#icon-compare" /></svg>
    <span class="add">{{ 'general.compare.add_to_compare' | t }}</span>
    <span class="remove">{{ 'general.compare.remove_compare' | t }}</span>
</div>