{% if settings.qv_video_product %}
<div class="modal fade halo_modal qv_halo_modal" id="video_product" role="dialog" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-video">
        <div class="modal-content" style="border: 1px solid #e0dcdc">
             <div class="modal-header">
                <h5 class="modal-title">
                    {{ 'products.product.video' | t }}
                </h5>
                <a class="close close-modal" data-dismiss="modal" class="close close-modal" href="javascript:void(0)"><svg class="icon icon-close"><use xlink:href="#icon-close" /></svg></a>
            </div>
            <div class="modal-body">
                <div class="popup-video" data-video-gallery></div>
            </div>
        </div>
    </div>
</div>
{% endif %}