<div class="sidebarBlock">
    <p class="sidebarBlock-heading"><span>{% render 'multilang' with block.settings.title %}</span></p>
    <div class="sidebarBlock-content">
        {{ block.settings.text }}
    </div>
</div>